<%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :email, params[:email], placeholder: "Email or login", class: "form-control" %>  
    <div class="input-group-append">  
      <%= button_tag "Check", :class => 'btn btn-outline-secondary', :name => nil%>  
    </div>  
  </div>  
<% end %>